<div id="goodapp">
  <a href="#" target="_blank">
    <strong>
      <img src="#" width="48" height="48" style="margin-right: 0.5em; margin-bottom: 0.5em;">Weebo Platform
      </strong>
    <span>
      Love Fan is the Windows Phone platform for the client, covers most of the functions of rice.
    </span>
  </a>
</div>