<div class="sect">
  <div class="user-op">
    <ul>
      <li>
        <a class="post_act block" href=
        "http://fanfou.com/user.block/aristotle">Add to blacklist</a>
      </li>
      <li>
        <a class="report" href=
        "http://fanfou.com/user.report/aristotle" id=
        "user-op-report">Report <%= user.username %></a>
      </li>
    </ul>
  </div>
</div>