<div id="friends">
  <h2>People Who follow</h2>
  <ul class="alist">
    <li>
      <a href="#" title=
      "gravity0"><img alt="gravity0" src="#"><span>gravity0</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/anegie" title="太空小孩"><img alt="" src="#"><span>太空小孩</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/lagunaloire" title="狂风先生"><img alt="狂风先生" src="#"><span>狂风先生</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/earlyzaozao" title="邢早早"><img alt="邢早早" src="#"><span>邢早早</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/~I8rkwsel1f8" title="DarkRiver"><img alt="DarkRiver" src="#"><span>DarkRiver</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/blessedkristin" title="青瓦的旧时光"><img alt="青瓦的旧时光" src="#"><span>青瓦的旧时光</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/%E8%AF%8D%E7%A9%B7" title="假装不是礼物"><img alt="假装不是礼物" src="#"><span>假装不是礼物</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/forrestjian" title="Forrest阿甘"><img alt="Forrest阿甘" src="#"><span>Forrest阿甘</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/hixiaodai" title="海小呆"><img alt=
      "海小呆" src=
      ""><span>海小呆</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/liangjing116" title="梁京"><img alt=
      "梁京" src=
      ""><span>梁京</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/llairui.com" title="雪來"><img alt=
      "雪來" src=
      ""><span>雪來</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/~vLuOcXigkMQ" title=
      "EquipmentRt"><img alt="EquipmentRt" src=
      ""><span>EquipmentRt</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/Mrsw" title="李呀李等等"><img alt=
      "李呀李等等" src=
      ""><span>李呀李等等</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/dezhaos" title="剑花"><img alt="剑花"
      src=
      ""><span>剑花</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/wangmengxuan" title=
      "阿事儿"><img alt="阿事儿" src=
      ""><span>阿事儿</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/%E7%99%BD%E5%B0%8F%E6%A2%81"
      title="panda"><img alt="panda" src=
      ""><span>panda</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/kranfel" title="kranfel"><img alt=
      "kranfel" src=
      ""><span>kranfel</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/ShoppingQueen" title=
      "Shopping.Q"><img alt="Shopping.Q" src="#"><span>Shopping.Q</span></a>
    </li>
    <li>
      <a href="" title="王饱翔"><img alt="王饱翔" src="#"><span>王饱翔</span></a>
    </li>
    <li>
      <a href="http://fanfou.com/zkaip" title="可.可."><img alt="可.可." src="#"><span>可.可.</span></a>
    </li>
  </ul><a class="more" href="http://fanfou.com/friends/aristotle">»
  More</a>
</div>