<div id="iconset">
  <%= image_tag 'ico-email-gmail.gif' %>
  <%= image_tag 'ico-mobile.gif' %>
  <%= image_tag 'ico-gtalk.gif' %>
  <a href="#">
    <%= image_tag 'ico-email-default.gif' %>
  </a>
</div>