<div class="stabs" id="navtabs">
  <ul>
    <li id="navtabs-home" class="current">
      <a href="#">
        <span class="label">Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="label">@Replies</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="label">Direct Messages</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="label">Favorites</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="label">Everyone</span>
      </a>
    </li>
  </ul>
</div>