<div class="sect">
  <h2>Invite friends to join</h2>
  <p>Send the following URL to a friend via MSN / QQ / FB / GMAIL</p>
  <p>
    <textarea name="invite-url" id="invite-url" rows="2" cols="25" class="auto-select" readonly="readonly" style="border: none; resize: none !important;">http://fanfou.com/register/cJH7SrQXlmYy</textarea>
  </p>
  <p class="formtip">Friends will automatically follow you after registration</p>
  <p>or <a href="#">Send Email Invite a friend</a></p>
</div>