<div id="user_infos">
  <ul class="vcard">
    <li class="adr">Location：<span class="region"><a href=""> <%= profile_details.location %></a></span></li>
    <li id="bio">Readme：<span> <%= profile_details.about %></span><a href="" style="margin-left: 0.5em;">(More...)</a>
    </li>
</div>