<div id="searchr">
  <form action="#" method="get" id="searchr-form">
    <input type="text" id="searchr-input" name="q" value=""><input type="submit" id="searchr-submit" value="find">
  </form>
</div>
<div id="savedsearchs" class="stabs colltab trendtabs">
  <b></b>
  <h2>Saved searches</h2>
  <ul style="display: block;"></ul>
</div>