<div class="stabs colltab trendtabs" id="trendtabs">
  <b id="trendicon"></b>
  <h2 id="trendtitle">Trends</h2>
  <ul id="trendlist" style="display: block;">
    <li>
      <a href="#"><span class="label">Happy holiday</span></a>
      <div class="spinner"></div>
    </li>
    <li>
      <a href="#"><span class="label">Mirriam Defensor</span></a>
      <div class="spinner"></div>
    </li>
    <li>
      <a href="#"><span class="label">#WorldTeachersDay</span></a>
      <div class="spinner"></div>
    </li>
    <li>
      <a href="#"><span class="label">#SnowFlakes</span></a>
      <div class="spinner"></div>
    </li>
  </ul>
</div>