<div id="footer" class="ui-roundedbox">
  <div class="content">
    <ul class="footer-masthead">
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">API</a>
      </li>
      <li>
        <a href="#">Status</a>
      </li>
      <li>
        <a href="#">Cookies</a>
      </li>
      <li>
        <a href="#">API</a>
      </li>
      <li>
        <a href="#">Business</a>
      </li>
      <li>
        <a href="#">Help</a>
      </li>
      <li>
        <a href="#">Jobs</a>
      </li>
      <li>
        <a href="#">Terms</a>
      </li>
      <li>
        <a href="#">Privacy</a>
      </li>
      <li>
        <a href="#">&copy; 2017 poddcast</a>
      </li>
    </ul>
  </div>
</div>