<table id="columns">
  <tbody>
    <tr>
      <td id="main">
        <%= render 'pagelets/info', user: @user %>
        <div id="content">
          <div class="message" id="stream">
            <ol>
              <%= render(@tweets) || "No Tweets" %>
            </ol>
          </div>
        </div>
      </td>
      <td id="sidebar">
        <%= render 'pagelets/sidebar', user: @user, page: 'profile' %>
      </td>
    </tr>
  </tbody>
</table>