<table id="columns">
  <tbody>
    <tr>
      <td id="main">
        <%= render 'pagelets/new_post' %>
        <div id="content">
          <div id="timeline-head" style="display: none;"></div>
          <div id="timeline-notification" style="display: none;">
            <a href="javascript:void(0);">
              New <strong id="timeline-count">(1)</strong> Click on the latest news, click to view
            </a>
          </div>
          <div id="stream" class="message">
            <ol class="wa solo" id="feed">
              <%= render(@tweets) || "No Tweets" %>
            </ol>
          </div>
          <%= paginate @tweets %>
        </div>
      </td>
      <td id="sidebar">
        <%= render 'pagelets/sidebar', user: current_user, page: 'dashboard' %>
      </td>
    </tr>
  </tbody>
</table>